.block-list {
    .wrap-item.hrb {
        border-bottom: 1px solid $gray-400;
    }
}
@include media-breakpoint-down(sm) {
    .block-list {
        .wrap-item {
            margin-bottom: 30px;
            .thumbnail {
                margin-bottom: 10px;
            }
            .title {
                font-size: 16px;
                margin-bottom: 10px;
            }
            .excerpt {
                font-size: 14px;
                margin-bottom: 10px;
            }
            .meta {
                font-size: 14px;
                margin-bottom: 10px;
            }
        }
    }
}
@include media-breakpoint-only(md) {
    .block-list {
        .wrap-item {
            margin-bottom: 30px;
            .thumbnail {
                margin-bottom: 15px;
            }
            .title {
                font-size: 18px;
                margin-bottom: 15px;
            }
            .excerpt {
                font-size: 15px;
                margin-bottom: 15px;
            }
            .meta {
                font-size: 14px;
                margin-bottom: 15px;
            }
        }
    }
}
@include media-breakpoint-up(lg) {
    .block-list {
        .wrap-item {
            margin-bottom: 30px;
            .thumbnail {
                margin-bottom: 0px;
            }
            .title {
                font-size: 20px;
                margin-bottom: 15px;
            }
            .excerpt {
                font-size: 16px;
                margin-bottom: 15px;
            }
            .meta {
                font-size: 14px;
                margin-bottom: 15px;
            }
        }
    }
}