footer {
    //background-color: $gray-default;
    .social {
        margin: 0;
        li {
            list-style: none;
            a {
                text-decoration: none;
            }
        }
        li:last-child {
            margin: 0px;
        }
    }
    .footer-nabar {
        padding: 18px 0px;
        margin: 0;
        li {
            list-style: none;
            margin-right: 15px;
            a {
                font-size: 15px;
            }
            ul {
                display: none;
            }
        } 
        li:last-child {
            margin: 0px;
        }
    }
    .copyright {
        display: block;
        border-top: 1px solid #DCDCE0;
    }
}
@include media-breakpoint-down(sm) { 
    footer {
        .social {
            padding: 15px 0px;
            li {
                margin-right: 10px;
                font-size: 14px;
                a {
                    font-size: 15px;
                }
            }
        }
        .footer-nabar {
            padding: 15px 0px;
            li {
                margin-right: 10px;
                text-align: center;
                a {
                    font-size: 14px;
                }
            } 
        }
        .copyright {
            font-size: 12px;
            padding: 14px;
        }
    }
}
@include media-breakpoint-only(md) { 
    footer {
        .social {
            padding: 18px 0px;
            li {
                margin-right: 15px;
                font-size: 15px;
                a {
                    font-size: 15px;
                }
            }
        }
        .footer-nabar {
            padding: 18px 0px;
            li {
                margin-right: 15px;
                a {
                    font-size: 15px;
                }
            } 
        }
        .copyright {
            font-size: 16px;
            padding: 18px;
        }
    }
}
@include media-breakpoint-up(lg) { 
    footer {
        .social {
            padding: 18px 0px;
            li {
                margin-right: 15px;
                font-size: 15px;
                a {
                    font-size: 15px;
                }
            }
        }
        .footer-nabar {
            padding: 18px 0px;
            li {
                margin-right: 15px;
                a {
                    font-size: 15px;
                }
            } 
        }
        .copyright {
            font-size: 16px;
            padding: 18px;
        }
    }
}