.form-search {
    .input-field {
        border-radius: 5px 5px 0px 0px;
        background-color: #F5F6FA;
        .text-field {
            border: none;
        }
    }
    ul {
        margin: 0px;
        padding: 0px;
        border-radius: 0px 0px 5px 5px;
        li {
            list-style: none;
            line-height: 14px;
            ul {
                display: inline-block;
                li {
                    display: inline-block;
                    a {
                        text-decoration: underline;
                        color: $blue;
                    }
                }
                li:last-child {
                    margin-right: 0px;
                }
            }
            label {
                color: #111111;
                display: inline-block;
                margin-bottom: 0px;
            }
        }
    }
    > ul {
        background-color: #F1F1F1;
    }
}

@include media-breakpoint-down(sm) {
    .form-search.without-slideshow {
        padding-top: 25px;
        margin-top: 0px;
    }
    .form-search {
        margin-top: -25px;
        margin-bottom: 15px;
        .input-field {
            padding: 5px;
            .text-field {
                height: 40px;
                font-size: 14px;
            }
            .submit-field {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        ul {
            li {
                ul {
                    li {
                        margin-right: 10px;
                        a {
                            font-size: 12px;      
                        }
                    }
                }
                label {
                    font-size: 12px;
                    margin-right: 10px;  
                }
            }
        }
        > ul {
            padding: 5px 5px;
        }
    }
}

@include media-breakpoint-only(md) {
    .form-search.without-slideshow {
        padding-top: 30px;
        margin-top: 0px;
    }
    .form-search {
        margin-top: -30px;
        margin-bottom: 20px;
        .input-field {
            padding: 10px;
            .text-field {
                height: 40px;
                font-size: 14px;
            }
            .submit-field {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        ul {
            li {
                ul {
                    li {
                        margin-right: 10px;
                        a {
                            font-size: 12px;      
                        }
                    }
                }
                label {
                    font-size: 12px;
                    margin-right: 10px;  
                }
            }
        }
        > ul {
            padding: 10px;
        }
    }
}

@include media-breakpoint-up(lg) {
    .form-search.without-slideshow {
        padding-top: 47px;
        margin-top: 0px;
    }
    .form-search {
        margin-top: -47px;
        margin-bottom: 30px;
        .input-field {
            padding: 20px;
            .text-field {
                height: 55px;
            }
            .submit-field {
                padding-left: 20px;
                padding-right: 20px;
                font-size: 18px;
            }
        }
        ul {
            li {
                ul {
                    li {
                        margin-right: 15px;
                        a {
                            font-size: 14px;      
                        }
                    }
                }
                label {
                    font-size: 14px;
                    margin-right: 15px;  
                }
            }
        }
        > ul {
            padding: 10px 20px;
        }
    }
}